header{
    text-align: center;
    padding: 5%;
}
div{
    width: 45%;
    margin-left: 45%;
    padding-left: 5%;
    position: relative;
    bottom: 500px;

}
img{
    width: 45%;
    height: 474px;
    border: 5px solid gold;
}
footer{
    text-align: center;
}